version: '3.1'
services:
  server:
    ports:
      - "9090:9090"
    build: stats-service/server
    image: ewm-stats-service
    container_name: stats-server
    depends_on:
      - stats-db
    environment:
      - DB_NAME=stats
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - DB_HOST=stats-db
      - DB_PORT=4321

  stats-db:
    image: postgres:14-alpine
    container_name: postgres-stats-db
    ports:
      - "6542:4321"
    environment:
      - POSTGRES_DB=stats
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root

