version: '3.1'
services:
  server-stats:
    ports:
      - "9090:9090"
    build: stats-service/server
    image: ewm-stats-service
    container_name: stats-server
    depends_on:
      - stats-db
    environment:
      - DB_NAME=stats
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - DB_HOST=stats-db
      - DB_PORT=4321

  stats-db:
    image: postgres:14-alpine
    container_name: postgres-stats-db
    ports:
      - "6542:4321"
    environment:
      - POSTGRES_DB=stats
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root

  ewm-service:
    build: ewm-service
    image: ewm_main_service
    container_name: ewm_main_service
    ports:
      - "8080:8080"
    depends_on:
      - ewm-db
      - server-stats
    environment:
      - DB_NAME=ewm
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - DB_HOST=ewm-db
      - DB_PORT=5432
      - STATS_SERVER_URL=http://server-stats:9090

  ewm-db:
    image: postgres:14-alpine
    container_name: postgres-ewm-db
    ports:
      - "6543:5432"
    environment:
      - POSTGRES_DB=ewm
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
